<form method="post" action="{{ path('app_adresses_delete', {'id': adress.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
    <button>Supprimer</button>
</form>