<form method="post" action="{{ path('app_banniere_activated', {'id': banniere.id}) }}" 
    onsubmit="return confirm('Voulez vous activer cette banière ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('activated' ~ banniere.id) }}">
    <button class="">Activer</button>
</form>


