{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block stylesheets %}

{% endblock %}


{% block body %}

    <div>
      {% include "./components/base/banner.html.twig" %}
    </div>


    {# Mozaic produits le plus vendue #}
    <div class="container bloc"> {# Max 3 produits #}

      <h1>Nos produits populaires</h1>

      <div class="container mozaic_produits">

        {% for produit in produits %}
          {% include "./pages/Boutique/produits/card_produit.html.twig" %}
        {% endfor %}

      </div>

    </div>


    {# Mozaic produit populaire #}
    <div class="container bloc">

      <h1>Nos licences populaires</h1>
      
      <div class="container mozaic_produits">

        {% for produit in produits %}
          {% include "./pages/Boutique/produits/card_produit.html.twig" %}
        {% endfor %}

      </div>

    </div>

{% endblock %}
