{# <form method="post" action="{{ path('app_commandes_delete', {'id' : app.user.id , 'cmd_id': commande.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn">Delete</button>
</form> #}
