.dropdown_panier_row {
    align-items: center;
    display: grid;
    /* grid-template-columns: 100px 200px 100px; */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* .dropdown_panier_row p:first-child {
    color: blue;

} */


.dropdown_panier_row a {

    font-size: 30px;
}