a {
    color: #000000;
    font-size: 20px;
    /* text-decoration: none; */
}

button {
    /* background-color: #AD0011; */
    background-color: transparent;
    border: 2px solid #AD0011;
    border-radius: 9px;
    height: 50px;
    /* color: #AD0011; */

}

button a {
    /* color: #ffffff; */
    color: #AD0011;
    margin: 10px;
}

.bloc {
   display: flex; 
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   margin-top: 50px;
   margin-bottom: 50px;
}

/* .bloc h1 {
    font-size: 50px;
    margin: 20px auto;
} */


thead tr th {
    text-align: center;
}

.mozaic_produits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px auto;
}




.trait_x {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid 2px #AD0011;
}


/* .modal_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
} */


