{# {% extends 'base.html.twig' %}

{% block title %} Test stripe {% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('asset/style/css/_show_list.css')}}">
{% endblock %}

{% block body %} #}

    <div class="container bloc">

    {# {% if method == 'stripe' %} #}

    {# <form method="POST" action="{{ path('app_payment', {'id_panier' : panier.id})}}"> #}

    <form action={{ path('app_payment',{'id_panier': panier.id} ) }} method="POST">
    
        <button type="submit" id="checkout-button">payer {{ panier.prixTotal}} </button>
    </form>

    {# {% endif %} #}
    </div>

{# {% endblock %} #}

