<form method="post" action="{{ path('app_ajout_panier', {'client_id' : app.user.clients.id ,'id': produit.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('ajouter' ~ produit.id) }}">
    <button class="btn btn-sm btn-outline-dark rounded p-0 m-1">Ajouter au panier</button>
</form>