{# {% extends 'base.html.twig' %}

{% block title %}Modifer le formulaire{% endblock %}

{% block body %}
    <h1>Modifer le formulaire</h1>

    {{ include('formulaire_demande_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_formulaire_demande_produit_index') }}">Retour</a>

    {{ include('components/formulaires/_delete_form.html.twig') }}

{% endblock %} #}
