{# <form method="post" action="{{ path('app_banniere_edit', {'id': banniere.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('modifier' ~ banniere.id) }}">
    <button class="btn">Enregistrer</button>
</form>
 onsubmit="return confirm('Voulez vous activer cette banière ?');" #}